<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b07a64">  <td>20/08/02 23:15:56</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Baseclass.endReport()[pri:0, instance:com.testcases.ScenarioOne@5119fb47]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="b07a64">  <td>20/08/02 23:15:55</td>   <td>-1113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Baseclass.getResult(org.testng.ITestResult)[pri:0, instance:com.testcases.ScenarioOne@5119fb47]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="b07a64">  <td>20/08/02 23:14:37</td>   <td>-79512</td> <td>&nbsp;</td><td title="&gt;&gt;Baseclass.myDriver()[pri:0, instance:com.testcases.ScenarioOne@5119fb47]">&gt;&gt;myDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>20/08/02 23:14:54</td>   <td>-62301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScenarioOne.myTest()[pri:0, instance:com.testcases.ScenarioOne@5119fb47]">myTest</td> 
  <td>main@1199673596</td>   <td></td> </tr>
<tr bgcolor="b07a64">  <td>20/08/02 23:14:54</td>   <td>-62375</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Baseclass.startReport()[pri:0, instance:com.testcases.ScenarioOne@5119fb47]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1199673596</td>   <td></td> </tr>
</table>
